.dice {
  width: 95px;
  height: 95px;
  background-size: 95% 95%;
  background-repeat: no-repeat;
}

.dice.dice-1 {
  background-image: url(../img/dice-1.png);
}
.dice.dice-2 {
  background-image: url(../img/dice-2.png);
}
.dice.dice-3 {
  background-image: url(../img/dice-3.png);
}
.dice.dice-4 {
  background-image: url(../img/dice-4.png);
}
.dice.dice-5 {
  background-image: url(../img/dice-5.png);
}
.dice.dice-6 {
  background-image: url(../img/dice-6.png);
}
